.foot {
    color: white;
    position: relative;
    background-color: #333;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
}
ul{
    padding: 1;
    margin: 1;
    list-style: none;
    display: flex;
    gap: 1rem;
}

li{
    font-size: 20px;
}

form {
    background-color: lightgray;
    padding: 20px;
    margin-right: 300px;
    margin-left: 300px;
    font-weight: bold;
}